.header-fullscreen {
  margin-top: -1px;

  .logo-wrapper {
    display: inline-flex;
    line-height: 84px;
    float: left;
  
    h3 {
      color: $primary0;
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 0 10px;
    }
  }
  
  .links-wrapper {
    float: left;
    margin-top: 5px;
  
    ul.ant-menu {
      border-bottom: none;
  
      .ant-menu-item:hover, .ant-menu-item-selected {
        border-bottom: 2px solid transparent !important;
      }
      
      .ant-menu-item {
        margin: -1px 10px 0;
      }
  
      li {
        color: $text0;
        font-size: 15px;
        font-weight: 400;
  
        &:nth-child(2) {
          margin-left: 30px;
        }
  
        &:last-child {
          margin-right: 0;
        }
  
        &.ant-menu-item-selected,
        &.ant-menu-item-active {
          background-color: transparent;
        }
  
        a {
          display: block;
          padding: 30px 16px;
          color: $text0;
          
          &:hover {
            color: $primary0;
  
          }
  
          &.active {
            font-weight: 700;
            color: $primary0;
            border-bottom: 3px solid $primary0;
            margin-bottom: -3px;
          }
        }
      }
    }
  }
  
  .auth-wrapper {
    float: right;
    margin-top: 22px;

    ul, .ant-menu, ul.ant-menu {
      display: flex;
      align-items: center;
      border: 0;
      background-color: transparent;
      margin-left: 46px;

      li {
        margin: 0;
        padding: 0;
        height: auto;
        margin-bottom: 0 !important;
        color: $text0;
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        transition: color 0.2s ease-in-out;
        &.ant-menu-item-selected {
          background-color: transparent;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 78px;
          min-height: 38px;
          border-radius: 3px;
          color: $text0;
          transition: color 0.2s ease-in-out;
          &:hover {
            color: $primary0;
          }
        }

        &:last-child {
          a {
            color: $color1;
            background-color: $primary0;
            transition: opacity 0.2s ease;

            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
}
