.stocks-card-big {
  &.stocks-card-loading-big {
    .ant-skeleton-avatar {
      height: 64px;
      width: 64px;
    }

    .ant-card-meta-detail {
      margin-top: 4px;
    }

    .stocks-card-loading-column {
      .ant-space {
        display: inline-block;
      }
    }
  }
}