.stocks-card-big {
  width: 100%;
  border-color: $border3;

  .ant-skeleton-image {
    width: 64px;
    height: 64px;
  }

  .ant-card-meta-avatar {
    margin-top: 4px;
  }

  .ant-card-meta-detail {
    margin-top: 9px;
  }
}