.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  &.btn-small {
    height: 38px;
  }

  &.btn-big {
    height: 57px;
    font-size: 17px;
    font-weight: 700;
  }

  &.btn-primary {
    width: 100%;
    color: $text;
    border-color: $primary;
    background-color: $primary;
  
    &:hover {
      border-color: $primary-hover;
      background-color: $primary-hover;
    }
  }

  &.btn-link {
    color: $primary;
  }

  &.btn-default {
    width: 100%;

    &:hover {
      color: $text0;
      background-color: rgb(230, 230, 230);
      border-color: rgb(230, 230, 230);
    }
  }

  svg {
    width: 18px;
    height: 18px;
    margin-right: 2px;
  }

  &::after {
    content: none;
  }
}