@import '~antd/lib/button/style/index.css';

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  height: 57px;
  font-size: 17px;
  font-weight: 700;
  border-color: $primary0;
  background-color: $primary0;
  width: 100%;

  svg {
    width: 18px;
    height: 18px;
    margin-right: 2px;
  }

  &::after {
    content: none;
  }

  &:hover,
  &:focus {
    border-color: $primary0hover;
    background-color: $primary0hover;
  }
}