.header-mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 84px;
  width: 100%;
  margin-top: -1px;

  .hamburger {
    border: 0;
    padding: 0;
    width: auto;
    height: auto;
    background-color: transparent;

    > span {
      display: block;
      width: 20px;
      height: 2px;
      margin: 4px 0;
      border-radius: 5px;
      background-color: $text;
      transition: all 0.3s ease;
    }

    &:hover,
    &.active {
      background-color: transparent;

      > span {
        width: 23px;
        background-color: $primary;
      }
    }

    &::after {
      display: none;
    }
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
      
    h3 {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 0 10px;
    }
  }
}

.header-mobile-items-wrapper {
  border: 0;

  li {
    padding: 0;

    &.ant-menu-item-selected,
    &.ant-menu-item-active {
      background-color: transparent;
    }

    a {
      font-size: 15px;
      padding: 0 31px;
      border-left: 4px solid transparent;
      color: $text-menu;
      margin-left: -16px;

      &.active {
        font-weight: 700;
        border-color: $text-menu-active;
        color: $text-menu-active;
      }
    }

    &:hover {
      a {
        color: $text-menu-active;
      }
    }
  }
}