.input-wrapper {
  margin-bottom: 24px;

  .field-label {
    display: block;
    color: $text;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .ant-input-password {
    width: 100%;
    min-height: 48px;
    border-radius: 3px;
    background-color: $input-background;
    border-color: $input-border;

    .ant-input {
      min-height: auto;
      border-radius: initial;
      border-color: transparent;
      color: $text;
      background-color: $input-background;

      &:focus {
        box-shadow: none;
      }
    }
    
    .ant-input-suffix {
      span {
        color: $text;
      }
    }

    &:focus,
    &.ant-input-password-focused {
      box-shadow: 0 0 0 1px rgba(0, 132, 137, 0.2);
    }
  }

  &.has-error {
    .ant-input,
    .ant-input-password {
      border-color: $danger;
    }
    
    .feedback {
      color: $danger;
    }

    .ant-input-password {
      .ant-input {
        border-color: transparent;
      }
    }
  }

  .label-wrapper {
    color: $text;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 15px !important;
  }

  .input-error-wrapper {
    color: $danger;
    margin-top: 2px;
  }
}