.toolbar-filter-item-wrapper {
  position: relative;
  width: 100%;

  &.selected {
    &:not(.active) {
      .popup-handler {
        button,
        button.ant-btn {
          &:hover {
            color: $primary0 !important;
          }
        }
      }
    }
  }

  &.popup-wrapper {
    margin-right: 15px !important;

    &:last-child {
      margin-right: 0;
    }

    .popup-handler {
      button,
      button.ant-btn {
        height: 38px;
        font-size: 15px;
        border-radius: 3px;
        color: $text0;
        border: 1px solid $border3;
        z-index: 10;
        
        &:hover {
          background-color: $border3;
        }
        &::after {
          content: none;
        }
      }
    }

    &.selected {
      button,
      button.ant-btn {
        color: $color1;
        border-color: $primary0;
        background-color: $primary0;
      }
    }
    
    &.active {
      .popup-handler {
        button,
        button.ant-btn {
          color: $color1;
          border-color: $primary0;
          background-color: $primary0;
        }

        & + .popup-container {
          margin-top: 15px;
          border: 1px solid $border3;
        }
      }

      &::after {
        content: '';
        display: block;
        position: fixed;
        left: 0;
        top: 70px;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        min-height: 100vh;
        pointer-events: none;
      }
    }

    &.activated {
      .popup-handler {
        button,
        button.ant-btn {
          color: $color1;
          border-color: $primary0;
          background-color: $primary0;

          &:hover {
            opacity: 0.85;
          }
        }
      }
    }

    .popup-container {
      max-height: 380px;
      overflow-x: auto;

      #popup {
        > div {
          > button, > .ant-btn {
            color: $text0;
            font-size: 15px;
            height: 38px;
            border-radius: 3px;
            border: 1px solid $border3;
            &::after {
              content: none;
            }
            &:hover {
              color: $primary0;
              border-color: $primary0;
            }
          }
        }
      }

      border-radius: 3px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);
      position: absolute;
      width: 100%;
      z-index: 999;
      min-width: 300px;
      padding: 30px;
      background-color: #ffffff;
    }
  }
}