.toolbar-filter-item-wrapper {
  position: relative;
  width: 100%;

  &.popup-wrapper {
    margin-right: 15px !important;

    &:last-child {
      margin-right: 0;
    }
    
    &.active {
      .popup-handler {
        & + .popup-container {
          margin-top: 5px;
          border: 1px solid $border;
        }

        button {
          background-color: transparent !important;
        }
      }

      &::after {
        content: '';
        display: block;
        position: fixed;
        left: 0;
        top: 154px;
        background-color: $background;
        opacity: 0.7;
        width: 100%;
        min-height: 100vh;
        pointer-events: none;
        z-index: 1;
      }
    }

    &.selected {
      .popup-handler {
        button {
          background-color: transparent !important;
        }
      }
    }
    
    .popup-container {
      max-height: 380px;
      overflow-x: auto;
      border-radius: 3px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);
      position: absolute;
      width: 100%;
      z-index: 999;
      min-width: 300px;
      padding: 20px 23px;
      background-color: $submenu;
    }
  }
}