.slider-wrapper {
  &:not(:first-child) {
    margin-top: 55px;
  }

  .label-wrapper {
    margin-bottom: 14px;
    color: $text;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
  }
  
  .ant-tooltip {
    font-size: 13px;
    font-weight: 700;
  
    &.ant-slider-tooltip {
      margin-bottom: 10px;
    }
  
    .ant-tooltip-inner {
      box-shadow: none;
      text-align: center;
      border-radius: 3px;
      min-height: 26px;
      padding: 4px 10px;
    }
  }
  
  .ant-slider {
    .ant-slider-rail {
      height: 5px;
      border-radius: 3px;
      background-color: $filter;
    }
  
    .ant-slider-track {
      background-color: $primary;
    }
  
    .ant-slider-step {
      .ant-slider-dot {
        width: 5px;
        height: 5px;
        top: 0;
        border-color: $filter;
        background-color: $filter;

        &:first-child {
          margin-left: -1px;
        }

        &.ant-slider-dot-active {
          border-color: $primary;
        }
      }
    }

    &:hover {
      .ant-slider-track {
        background-color: $primary;
      }

      .ant-slider-handle:not(.ant-tooltip-open) {
        border-color: $primary;
      }
    }
  
    .ant-slider-handle {
      margin-top: -8px;
      width: 20px;
      height: 20px;
      border: 6px solid $primary;
      box-shadow: 0 2px 2px $filter;

      &:focus {
        box-shadow: none;
      }
    }

    .ant-slider-handle {
      background-color: $filter !important;
    }
  
    .ant-slider-mark {
      margin-top: 10px;
  
      .ant-slider-mark-text:nth-child(1) {
        left: 0% !important;
      }
    
      .ant-slider-mark-text:nth-child(2) {
        left: 100% !important;
      }
  
      .ant-slider-mark-text {
        font-size: 15px;
        color: $text;
        position: absolute;
        display: inline-block;
        text-align: center;
        word-break: keep-all;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
