.input-wrapper {
  margin-bottom: 24px;

  .field-label {
    display: block;
    color: $text;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .ant-input {
    width: 100%;
    min-height: 48px;
    border-radius: 3px;
    border: 1px solid $input-border;
    background-color: $input-background;
    color: $text;

    &:focus,
    &.ant-input-focused {
      box-shadow: 0 0 0 1px rgba(0, 132, 137, 0.2);
    }
  }

  .label-wrapper {
    color: $text;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 15px !important;
  }

  .input-error-wrapper {
    color: $danger;
    margin-top: 2px;
  }
}