.header-wrapper {
  height: 84px;
  padding: 0 30px;
  
  &.header-default {
    background-color: $header;
    border-bottom: 1px solid $border;

    .logo-wrapper {
      h3 {
        color: $primary;
        font-size: 30px;

        &:hover {
          color: $primary-hover;
        }
      }
    }

    .links-wrapper {
      ul.ant-menu {
        background-color: $header;
        
        li {
          a {
            color: $text-menu;

            &:hover {
              color: $text-menu-hover;
            }
    
            &.active {
              color: $text-menu-active;
              border-bottom: 3px solid $text-menu-active;
            }
          }
        }
      }
    }

    .auth-wrapper {
      .avatar-dropdown {
        ul.ant-menu {
          background: $submenu !important;

          li {
            a, button {
              color: $text-menu;

              &:hover {
                color: $text-menu-hover;
              }
            }
          }
        }
      }
    }
  }

  &.header-detail {
    background-color: $header;
    border-bottom: 1px solid $border;

    .logo-wrapper {
      h3 {
        color: $primary;
        font-size: 30px;
      }
    }

    .links-wrapper {    
      ul.ant-menu {    
        background-color: $header;

        li {
          a {
            color: $text-menu;

            &:hover {
              color: $text-menu-hover;
            }
    
            &.active {
              color: $text-menu-active;
              border-bottom: 3px solid $primary;
            }
          }
        }
      }
    }

    .auth-wrapper {
      .avatar-dropdown {
        .ant-avatar {
          background: $avatar;
        }
        
        ul.ant-menu {
          background: $submenu !important;

          li {
            a, button {
              color: $text-menu;

              &:hover {
                color: $text-menu-hover;
              }
            }
          }
        }
      }
    }
  }
}