.header-wrapper {
  width: 100%;

  .sticky-outer-wrapper {
    nav {
      &.is_transparent {
        > div > div {
          > svg {
            width: 20px;
            position: absolute;
          }

          a {
            img {
              opacity: 0;
            }

            h3 {
              color: $color1;
            }
          }
        }

        .ant-menu:not(.active) {
          li {
            a {
              &.active {
                color: $color1;
              }
              &:hover {
                color: $color1;
              }
            }
          }
        }
      }

      &.transparent {
        > div > div {
          > svg {
            width: 20px;
            position: absolute;
          }

          a {
            img {
              opacity: 0;
            }

            h3 {
              color: $color1;
            }
          }
        }
      }
    }

    &.sticky-header {
      nav {
        &.is_transparent {
          background-color: $color1;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

          > div > div {
            > svg {
              display: none;
            }

            a {
              img {
                opacity: 1;
              }

              h3 {
                color: $primary0;
              }
            }
          }

          .ant-menu {
            li {
              a {
                color: $text0;
                &:hover {
                  color: $primary0;
                }
                &.active {
                  color: $primary0;
                  border-bottom: 3px solid $primary0;
                }
              }
            }
          }

          .auth_menu {
            .ant-menu {
              li {
                &:last-child {
                  a {
                    color: $color1;
                  }
                }
              }
            }
          }
        }

        &.transparent {
          background-color: $color1;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

          > div > div {
            > svg {
              display: none;
            }

            a {
              img {
                opacity: 1;
              }

              h3 {
                color: $primary0;
              }
            }
          }

          .hamburg-btn {
            > span {
              background-color: $text0;
            }
          }
        }
      }
    }
  }
}
