.companies-card-big {
  width: 100%;
  
  .ant-skeleton-avatar {
    height: 64px;
    width: 64px;
  }

  .ant-card-meta-avatar {
    margin-top: 4px;
  }

  .ant-card-meta-detail {
    margin-top: 10px;

    .ant-card-meta-description {
      margin-top: -3px;
    }
  }
}
