@import '~antd/dist/antd.min.css';

* {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

::selection {
  background: #008489;
  color: #ffffff;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
  font-display: swap;
}

html,
html a,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
dl,
th,
dt,
input,
textarea,
span,
div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: $background;
  color: $text;
}

button {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}

a {
  color: $text-anchor;
}

a:hover {
  color: $text-anchor-hover;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.ant-layout {
  background: $background;
}

.content {
  padding: 12px 30px;

  .ant-pagination {
    margin: 12px 0 24px;
    float: right;

    .ant-pagination-item-active, .ant-pagination-item:focus, .ant-pagination-item:hover {
      border-color: $primary0;

      a {
        color: $primary0;
      }
    }

    .ant-pagination-next:hover, .ant-pagination-next:focus, .ant-pagination-prev:hover, .ant-pagination-prev:focus{
      button {
        border-color: $primary0;
        color: $primary0;
      }
    }
  }
}

body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  background-color: $scroll-bar;
}

body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 8px;
  background-color: $scroll-bar;
}

body::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  background-color: $scroll-thumb;
}