.authentication-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  &.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
  }

  &.uncentered {
    padding: 80px 0;
  }

  .form-wrapper {
    width: 100%;

    .logo-wrapper {
      display: flex;
      align-items: center;
    
      a {
        display: flex;
        align-items: center;
      }
    
      img {
        width: 20px;
      }
    
      h3 {
        color: #008489;
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 0 10px;
      }
    }

    .title-wrapper {
      color: $text-title;
      font-size: 45px;
      line-height: 54px;
      font-weight: 700;
      
      @media only screen and (max-width: 1600px) {
        font-size: 38px;
        line-height: 48px;
      }

      @media only screen and (max-width: 1440px) {
        font-size: 32px;
        line-height: 42px;
      }

      @media only screen and (max-width: 1200px) {
        font-size: 28px;
        line-height: 32px;
      }

      a {
        color: $primary;

        &:hover {
          color: $primary-hover;
        }
      }
    }

    .subtitle-wrapper {
      color: $text-subtitle;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 45px;
      margin-top: 10px;

      @media only screen and (max-width: 1600px) {
        font-size: 22px;
      }

      @media only screen and (max-width: 1440px) {
        font-size: 20px;
      }

      @media only screen and (max-width: 1440px) {
        font-size: 18px;
      }
    }

    .ant-divider {
      color: $text;
      margin-top: 25px;
      
      &::before, &::after {
        border-top: 1px solid $border !important;
      }
    }
  }
}