$text0: #2C2C2C;
$text1: #909090;
$text2: #777777;
$color: #FFCB2B;
$color0: #000000;
$color1: #ffffff;
$color2: #F7F7F7;
$color7: #3b5998;
$color10: #dd4b39;
$color14: #00ACEE;
$primary0: #008489;
$primary0hover: #008489d1;
$border0: #EBEBEB;
$border3: #E6E6E6;
$error0: #F9503D;