$background: #151718; //done
$header: #242728; //done
$submenu: #2B2E30; //done
$filter: #1E2124; 

$avatar-background: #35393B; //done
$avatar-person: #E8E6E3; //done

$button: #3B3B3B;
$button-selected: red;
$button-hover: #575655;

$border: #373C3E;
$border-selected: #FFF;
$border-hover: #FFF;
$border-positive: #FFF;
$border-negative: #FFF;

$card: #FFF;
$card-selected: #FFF;
$card-hover: #FFF;

$text: #CACACA; //done
$text-logo: #B68B03; //done
$text-anchor: #98C6FF; //done
$text-anchor-hover: #A6C2E4; //done
$text-menu: #CACACA;
$text-menu-active: #B68B03;
$text-menu-hover: #B68B03;
$text-title: #F4F4F4;
$text-subtitle: #FFF;
$text-table: #FFF;
$text-positive: #FFF;
$text-negative: #FFF;

$scroll-bar: #636363;
$scroll-thumb: #3f4044;



$text0: #2C2C2C;
$text1: #909090;
$text2: #777777;
$color: #FFCB2B;
$color1: #ffffff;
$color2: #F7F7F7;
$color5: #000000;
$color7: #3b5998;
$color10: #dd4b39;
$color13: #E2E2E2;
$color14: #00ACEE;
$primary0: #008489;
$primary0hover: #008489d1;
$border3: #E6E6E6;
$error0: #F9503D;