$primary: #B68B03; // done
$primary-hover: #D9AF2A; // done
$secondary: #252526; // done
$secondary-hover: #181818; // done
$danger: #CC0000;
$succcess: #007E33;
$warning: #FFF;

$background: #151718; //done
$header: #242728; //done
$submenu: #323638; //done
$filter: #292C2D; //done
$border: #373C3E; //done
$card: #1C1E1F;

$input-background: #1C1F20; //done
$input-border: #373C3E; //done

$avatar-background: #35393B; //done
$avatar-person: #E8E6E3; //done

$text: #C7C3BC; //done
$text-anchor: #4B98D7; //done
$text-anchor-hover: #78C2FF; //done
$text-menu: #CACACA; //done
$text-menu-active: #B68B03; //done
$text-menu-hover: #B68B03; //done
$text-title: #CACACA; //done
$text-subtitle: #9D9488; //done

$scroll-bar: #636363; //done
$scroll-thumb: #3f4044; //done

$text0: #2C2C2C;
$color: #FFCB2B;
$color1: #ffffff;
$color5: #000000; // slider
$color13: #E2E2E2; // slider
$primary0: #008489;
$border3: #E6E6E6;
$error0: #F9503D;